.timelines {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    .donut-day {
      height: 100px;
      .donut-chart {
        height: 100%;
        display: block;
      }
    }
  }
  label {
    line-height: 0.8rem;
  }
}
