$header-height: 50px;
$font-family-sans-serif: "Quicksand", "public sans", "sans-serif";
$primary: #f5edd6;
$accordion-button-active-bg: $primary;
$accordion-button-active-color: black;
$accordion-button-bg: $primary;
